<ion-header>
  <ion-toolbar>
    <ion-title class= "animate-title"> Ingreso a la Aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor principal para el diseño -->
  <div class="login-container">
    <!-- Imagen superior -->
    <ion-img src="assets/icon/images/medic.png"></ion-img>
    
    <!-- Formulario de inicio de sesión -->
    <div class="login-form">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="loginUsuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="loginContrasena"></ion-input>
      </ion-item>

      <!-- Botón de inicio de sesión -->
      <ion-button expand="block" (click)="ValidarCredenciales()">Ingresar</ion-button>

      <!-- Botón para crear cuenta -->
      <ion-button expand="block" fill="clear" color="secondary" (click)="navigateToRegister()">¿Eres nuevo? Crea una cuenta</ion-button>

      <!-- Botón de restablecer contraseña -->
      <ion-button expand="block" fill="clear" color="primary" size="small" [routerLink]="['/recuperar']">Restablecer Contraseña</ion-button>
    </div>
  </div>
</ion-content>
